














.night-row-div {
 
}
.night-div {
  padding: 0;
}
.pg {

}
.night {
  width: 100%;
}
.vedio {
  padding-left: 0;
}
.portrait-img-div {
 
}
.portrait-img-div img {

}
.portrait-img {
  position: absolute;
}
.NIGHT-PORTRAIT {

}

.performance {

}
.performance::before {
 
}
.power {

}
.two-phones-img {
 
}

.fast {
 
}
.gen {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-left: 34px;
}
.Maximize {
 
}


.brighter {

}
.dynamic {
 
}
.highlights {

}

.
.battery-img {
  height: 13%;
  width: 93%;
  margin-left: 89px;
}
.bring {

}
.meet {
 
}

.one {
 
}
.your {

}
.s3-ui {
  width: 36%;
  margin-left: 32%;
  margin-top: -34px;
}
.now {
  width: 40%;
  color: white;
  text-align: right;
  margin-left: 60%;
}

.order {
 
}
.galaxy-s23-img {
  width: 91%;
  height: 598px;
  margin-top: 165px;
  margin-left: 79px;
  position: relative;
}


.delivery-div {
  width: 82%;
  position: absolute;
  top: 500px;
  left: 150px;
  height: 100px;
  display: flex;
  background-color: black;
  border-radius: 50px;
  padding: 15px;
  padding-left: 59px;
  z-index: 2;
}
.best {

}
.delivery-div > button {

}
