@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");

/*------------------------------------------------------
#General
----------------------------------------------------------*/
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background: black;

}


#video_animation_trigge_sample
{
  margin-top:-15%!important;
}

.hero-second-offer
{
  margin-top: -8%;
}

#text_9months_main #text_9months
{
  font-family: 'Roboto', sans-serif;
  /* visibility: hidden; */
  font-size: 25px;
  font-weight: 600!important;
}
#text_9months_main
{
  visibility: hidden;
}

#MRP-dual-O2, #minus-2-dual-O2, #upgrade_phone-dual-O2, #offered_price-dual-O2, #CASHBACK-TAG1-dual-O2, #CASHBACKTAG2-dual-O2, #_24_MONTH_S_EMI,#equals-dual-O2
{
  visibility: hidden;
}

#spec-camera-text, #spec-camera-heading, #spec-camera-pera
{
  visibility: hidden;
}

#NIGHTOGRSPY h1
   {
     position: relative;
      padding-bottom: 1%;
      font-size: 50px;
      font-weight: 800;
      text-align: center;
      color: #fff;
   }

   #back_strip_9months, #frount_strip_9months
   {
    visibility: hidden;
   }


.header_happy_logo
{
  height:35px;
  width: auto;
}

#BTN_BG_TOTAL
{
  fill: #ec772d!important;
}
.BTN_BG_TOTAL_letters
{
  fill: #fff!important;
}

/* #my_text_emi
{
  opacity:1;
  transition: opacity 1s;
}
#my_text_emi.fade
{
  opacity:0;
  
}
fade_effect.classList.toggle(); */
#my_text_emi {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
    color: red;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}

#innovation h6 {
  visibility: hidden;
}

#innovation_heading span {
  visibility: hidden;
  transform: translateY(-50vh);
}

/*------------------------------------------------------
#General
----------------------------------------------------------*/
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: "poppins", sans-serif;
}
section {
  /* height: 100%; */
  position: relative;
  padding-top: 20px;
}

/*------------------------------------------------------
#Header
----------------------------------------------------------*/
#header .navbar-brand {
  margin-left: 0 !important;
  font-weight: 700;
  font-size: 19px;
}
#header i {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: white;
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.bg-black {
  background-color: black;
}
.hero13 {
  background-color: #f15a24;
}
.lines::after,
.lines::before {
  content: "";
  position: absolute;
  border-right: 1px solid black;
  min-height: 100vh;
  left: 537px;
  top: 0;
  opacity: 0.2;
}
.lines::before {
  right: 422px;
}

.p_lr {
  padding: 0 6%;
}

.side_p_l {
  padding-left: 6%;
}

/*------------------------------------------------------
#Hero section
----------------------------------------------------------*/

#Nitography_cemara_action {
  visibility: hidden;
}


#nightography_camera, #processors, #High_resolutiobn_photo, #S_PEN, #Vision_Booster
{
  display: none;
}




#SHOP_BTN_mobile,
#MAIN_TEXT_mobile,
#mrp_price_mobile,
#HAPPI_STORE_mobile,
#equals-dual,
#upgrade_phone-dual_mobile,
#minus-2-dual_mobile,
#minus-1-dual_mobile,
#cashback-dual_mobile,
#MRP-dual_mobile,
#CASHBACK-TAG1-dual_mobile,
#CASHBACKTAG2-dual_mobile,
#DIAMOND_LINES_mobile,
#SMART_OFFER_dual_mobile,
#offered_price-dual_mobile {
  visibility: hidden;
}

#red_line_mobile {
  visibility: hidden;
}

#Wow-worthy_resolution {
  visibility: hidden;
}

#two-hundred-mp {
  visibility: hidden;
}

/* MRP-dual elements animation elements */

#MRP-elem-bg-ele,
#MRP-elem-name1,
#MRP-elem-name2,
#MRP-elem-price {
  visibility: hidden;
}

/* cashback-dual elements animation */

#cashback-elem-price,
#cashback-elem-name1,
#cashback-elem-name2,
#cashback-elem-bg-ele {
  visibility: hidden;
}

/* upgrade_phone elements animation */

#upgrade_phone-elem-price,
#upgrade_phone-elem-name1,
#upgrade_phone-elem-name2,
#upgrade_phone-elem-bg-ele {
  visibility: hidden;
}

/* offered_price elements animation */

#offered_price_circle,
#offered_price_price,
#offered_price_name {
  visibility: hidden;
}

/* offered_price elements animation */

#offered_price_circle_mobile,
#offered_price_price_mobile,
#offered_price_name_mobile {
  visibility: hidden;
}

#DIAMOND_LINES {
  visibility: hidden;
}

.offers-class {
  position: absolute;
  top: 10%;
}

.smart-offer-img {
  width: 100%;
}
.smart-offer-img img {
  width: 100%;
}

.cashback-offer-img {
  width: 100%;
  text-align: center;
}
.cashback-offer-img svg {
  width: 100%;
}

#SHOP_BTN,
#MAIN_TEXT,
#mrp_price,
#HAPPI_STORE,
#equals-dual,
#upgrade_phone-dual,
#minus-2-dual,
#minus-1-dual,
#cashback-dual,
#MRP-dual,
#CASHBACK-TAG1-dual,
#CASHBACKTAG2-dual {
  visibility: hidden;
}

#red_line {
  visibility: hidden;
}

#DIAMOND_LINE {
  visibility: hidden;
}

#SMART_OFFER_dual {
  visibility: hidden;
}

#samsung_title {
  visibility: hidden;
}

#samsung_price {
  visibility: hidden;
}

#mrp_price {
  visibility: hidden;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: black;
  margin-top: 54px;
  padding: 0;
}

.hero .samsung-video {
  height: 100vh;
  width: 100%;
}
/*------------------------------------------------------
#Hero1 section
----------------------------------------------------------*/

.near-by-store h1,
.near-by-store h1 a {
 
  font-size: 40px;
  color: #ed7c0a;
}

.near-by-store h1 {
  visibility: hidden;
}

.hero-img {
  width: 100%;
}

.hero-img svg {
  height: 100%;
  width: auto;
}

.intro-main-points ul {
  color: white;
  position: relative;
}
.intro-main-points ul::before {
  position: absolute;
  border-left: 2px solid white;
  height: 100%;
  content: "";
  left: 14px;
}
.intro-main-points ul li {
  font-size: 20px;
  font-weight: 500;
}

.hero1 .intro h1 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 3vw;
  font-weight: 900;
}

.hero1 .intro-price {
  font-size: 3vw;
  font-weight: 900;
  color: #fff;
  line-height: 60px;
  margin-bottom: 3%;
}
.hero1 .intro-price span {
  padding-right: 6px;
}

.hero1 .intro-sub-price {
  font-size: 24px;
  font-weight: 500;
  color: #ec772d;
}

.intro-sub-img img {
  height: 30px;
  width: auto;
}

.booknow-btn button {
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 700;
}

/*------------------------------------------------------
#Hero2 section
----------------------------------------------------------*/

.hero2 {
  background: url("../img/bg-gray-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -5%;
  z-index: 2;
  height: fit-content !important;
}
.section-heading h1 {
  font-size: 5vw;
  font-weight: 900;
  color: #fff;

  margin-top: 7%;
  margin-bottom: 4%;
}

.offer-img {
  width: 100%;
  position: relative;
  top: -5%;
}

.offer-img svg {
  width: 100%;
}
.booknow-form p {
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  line-height: normal;
  text-align: center;
}
.input-ele label {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2%;
}
.input-ele input {
  background: gray;
  border: black;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  padding: 2% 3%;
}

.input-ele select {
  background: gray;
  border: black;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  padding: 2% 3%;
}

.input-ele-btn button {
  background-color: #fecc00;
  color: #000000;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
}

/*------------------------------------------------------
#Hero3 section
----------------------------------------------------------*/

.mobile-cam-specs {
  width: 100%;
}
.mobile-cam-specs svg {
  width: 100%;
}

.hero3 {
  background: #000000;
}
.hero3 p {
  width: 91%;
  position: relative;
  font-weight: 500;
  padding-top: 5%;
  font-size: 22px;
  color: #fff;
}
.hero3 p::before {
  content: "";
  position: absolute;
  border-top: 2px solid #f15a24;
  width: 284px;
  bottom: 153px;
  margin-bottom: 8%;
}
.hero3 .metal-img {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  background: black;
  transform: translate y(28%);
}
.hero3 .metal-img img {
  transform: rotate(90deg) translateY(-56%);
  width: 50%;
}
/*------------------------------------------------------
#Hero4 section
----------------------------------------------------------*/
.hero4 .s22-ultra-img {
  width: 128%;
  height: 128%;
  position: relative;
  overflow: hidden;
  top: 33px;
}
.hero4 .s22-ultra-img img {
  width: 436px;
  height: 499px;
  position: relative;
  overflow: hidden;
  transform: translate(-3%, -11%);
}
.hero4 h6 {
  font-size: 29px;
  font-weight: 500;
  margin-top: 164px;
  margin-left: 201px;
  position: relative;
}

.hero4 h6 span {
  font-size: 34px;
  font-weight: 800;
}
.hero4 h6::after {
  content: "";
  position: absolute;
  top: -14px;
  left: -31px;
  border-left: 10px solid #f15a24;
  border-top: 10px solid #f15a24;
  border-bottom: 10px solid #f15a24;
  height: 104px;
  width: 38px;
}
.hero4 ul {
  list-style: none;
  padding-top: 39px;
}
.hero4 ul li {
  font-size: 20px;
  font-weight: 500;
  padding-left: 177px;
}
/*------------------------------------------------------
#Hero5 section
----------------------------------------------------------*/
.hero5 ul {
  list-style: none;
  height: 40%;
  width: 74%;
}
.hero5 ul li {
  margin-bottom: 40px;
}
.hero5 ul li p {
  font-size: 27px;
  font-weight: 400;
  border-top: 2px solid black;
  text-align: left;
  padding-left: 0;
}
.layers-img {
  position: relative;
  text-align: center;
  margin-right: 0;
}

.layers-img svg {
  height: 500px;
  width: auto;
}

#samsung_display_specs1,
#samsung_display_specs2,
#samsung_display_specs3,
#samsung_display_specs4,
#samsung_display_specs5 {
  visibility: hidden;
  transform: translateY(-5vh);
}

/* #samsung_display_1
  {
    visibility: hidden;
    transform: translateX(50vw);     
  } */

/*------------------------------------------------------
#Hero6 section
----------------------------------------------------------*/
.hero6 .container h4 {
  color: white;
  position: relative;
  padding-left: 101px;
}

.hero6 .container h4::after {
  content: "";
  position: absolute;
  border-top: 2px solid #f15a24;
  width: 210px;
  left: -118px;
  top: 18px;
}
.hero6 .epically-img h1 {
  font-size: 8rem;
  font-weight: 900;
  color: #f15a24;
  text-align: left;
}

.hero6 .lowlight-img h1 {
  font-size: 8rem;
  font-weight: 900;
  color: #f15a24;
  text-align: right;
}
.hero6 p,
.take {
  color: white;
  font-size: 17px;
  font-weight: 500;
  width: 397px;
  padding-top: 40px;
}
.take {
  width: 400px;
}
/*------------------------------------------------------
#Hero7 section
----------------------------------------------------------*/

/* .hero7  */

.camera_specs {
  width: 100%;
}
.camera_specs svg {
  width: 100%;
}

#line5_cam,
#line4_cam,
#line3_cam,
#line2_cam,
#line1_cam,
#text1_cam,
#text2_cam,
#text3_cam,
#text4_cam,
#text5_cam {
  visibility: hidden;
  transform: translateY(-5vh);
}

/*------------------------------------------------------
#Hero8 section
----------------------------------------------------------*/

.night-parent {
  margin: 0;
  padding: 60px 0;
}
.night-parent .col-6 {
  margin: 0;
  padding: 0;
}
.hero8 .night-img {
  height: 310px;
  width: 50%;
  overflow: hidden;
  position: relative;
}
.hero8 .night-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  height: auto;
}
.hero8 .night-content {
  align-items: center;
  justify-content: center;
  width: calc(100% - 50%);
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.hero8 .night {
  padding-right: 0;
}
.hero8 .nig {
  margin-right: 0;
  padding-left: 0;
}

.hero8 p1 {
  max-height: 188px;
}

.night-img img {
  z-index: 6;
}

/*------------------------------------------------------
#Hero9 section
----------------------------------------------------------*/
/* .hero9 .container .performance{
  color: white;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    padding-left: 97px;
}
.hero9 .container .performance::after {
  content: "";
    position: absolute;
    top: 15px;
    left: -114px;
    border-top: 3px solid #f15a24;
    width: 205px;
} */
.title-tag .performance {
  left: 91px;
}
.power {
  font-size: 30px;
  color: #f15a24;
  font-weight: 700;
  line-height: normal;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  /* padding-top: 10px; */
}
.hero9 .two-phones-img {
  height: auto;
  width: 100%;
  padding-top: 2%;
}
.hero9 .two-phones-img img {
  height: auto;
  width: 100%;
  padding-top: 2%;
}
.hero9 .snap-dargan-img {
  padding-top: 104px;
}
.hero9 .world {
  padding-top: 114px;
  padding-left: 31px;
}
.hero9 .world h3 {
  color: white;
  font-size: 33px;
  font-weight: 800;
}
.hero9 .world p {
  color: white;
  font-size: 21px;
}
.max {
  padding-right: 15% !important;
}

.about-content .max {
  color: white;
  font-size: 21px;
  font-weight: 400;
}

/*------------------------------------------------------
#Hero10 section
----------------------------------------------------------*/
/* .hero10 .display {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  padding-top: 105px;
}
.hero10 .display:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -150px;
  border-top: 1px solid black;
  width: 37%;
} */
/* .hero10 h1 {
  font-size: 76px;
  font-weight: 900;
  color: #f15a24;
} */
/* .hero10 p {
  font-size: 18px;
    font-weight: 600;
    width: 51%;
    padding-top: 18px;
} */
/* .hero10 .highlights-img {
  width: 100%;
  height: auto;
  position: absolute;
}
.hero10 .highlights-img svg {
  width: 100%;
  height: auto;
}
.hero10 .highlights-img img {
  height: 63%;
  /* top: 16px; */
/* padding-top: 12px; */
/* transform: translatey(29%);
} */
*/ .about-content .fs_2x {
  font-size: 22px;
  font-weight: 400;
}
/*------------------------------------------------------
#Hero11 section
----------------------------------------------------------*/
/* .hero11 .battery {
  font-size: 25px;
  font-weight: 600;
  text-align: right;

  padding-right: 155px;
  position: relative;
  padding-top: 136px;
}

.battery::after {
  content: "";
    position: absolute;
    top: 72px;
    right: -112px;
    border-top: 1px solid black;
    width: 600px;
} */
.title-tag .battery {
  text-align: right;
  padding-right: 90px;
}
.hero11 h1 {
  font-size: 69px;
  font-weight: 900;
  color: #f15a24;
  text-align: right;
}
.hero11 .bring {
  width: 541px;
  margin-left: 344px;
  padding-top: 72px;
  font-weight: 600;
  font-size: 23px;
  text-align: right;
}
.battery-img {
  height: 100%;
  width: auto;
}
.battery-img svg {
  height: 90%;
  width: auto;
}
/*------------------------------------------------------
#Hero12 section
----------------------------------------------------------*/

.hero12 .section-headings h1 {
  color: #f15a24;
  font-size: 42px;
  font-weight: 700;
  color: #f15a24;
}
.hero12 .s3-ui-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 550px;
}
.hero12 .s3-ui-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -50%);
  width: auto;
  height: 100%;
}
.hero12 .now {
  text-align: right;
  font-size: 20px !important;
  font-weight: 500 !important;
  padding-left: 700px;
}
.section-headings {
  position: relative;
  z-index: 9;
}
/*------------------------------------------------------
#Hero13 section
----------------------------------------------------------*/
.hero13 {
  padding: 0px;
  padding-top: 60px;
  min-height: auto;
}
.hero13 h1 {
  font-size: 49px;
  color: white;
  font-weight: 900;
  text-shadow: 2px 8px black;
  position: sticky;
  width: 521px;
}
.hero13 .delivery {
  width: 80%;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 25%;
  margin: auto;
  height: 100px;
  display: flex;
  background-color: black;
  border-radius: 50px;
  padding: 15px;
  z-index: 2;
}
.hero13 .delivery h2 {
  color: white;
  font-size: 30px;
  font-weight: 200;
  border-right: 3px solid white;
  padding-right: 74px;
  padding-left: 57px;
}
.delivery button {
  color: white;
  font-size: 22px;
  font-weight: 800;
  background-color: #f15a24;
  /* padding: 26px; */
  border-radius: 50px;
  width: 189px;
  margin-left: 31px;
  border: none;
}
.galaxy-s23-img {
  position: relative;
  overflow: hidden;
  height: 600px;
  z-index: 1;
  width: 100%;
  margin-bottom: -50px;
}
.galaxy-s23-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.footer {
  position: relative;
}
.footer p {
  color: white;
  margin: 0;
  padding: 15px 0;
}
.NIGHTOGRAPHY {
  font-family: 'Roboto', sans-serif;
  
  font-size: 35px !important;
  font-weight:  300!important;
  color: #fff;
  text-align: center;
  padding: 3% 2%;
  margin-top: -10%;
}

.More-Light h1
{
  font-family: 'Roboto', sans-serif;
  font-size: 55px !important;
  font-weight:  700!important;
  color: #fff;
  text-align: center;
}

.More-Light-par
{
  font-family: 'Roboto', sans-serif;
  
  font-size: 18px !important;
  font-weight:  300!important;
  color: #fff;
  text-align: center;
}


.transperant-bg ul {
  color: white;
  position: relative;
}
.transperant-bg ul::before {
  position: absolute;
  border-left: 2px solid white;
  height: 122%;
  content: "";
  left: 16px;
}
.side-text {
  flex-direction: column;
  /* position: absolute; */
  z-index: 99;
  /* width: 70%; */
  color: #fff;
  margin-left: 0%;
}
.circle {
  height: 15px;
  width: 28px;
  position: relative;
  border-radius: 50px;
  background: white;
  display: inline-block;
  top: 10px;
}

.circle:before {
  position: absolute;
  /* border-left: 2px solid white; */
  border: 1px solid white;
  height: 123px;
  content: "";
  right: 50%;
  top: -40%;
}
.circle-power {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 50px;
  background: white;
  display: inline-block;
  top: 10px;
  margin-left: 15%;
}

.circle-power:before {
  position: absolute;
  /* border-left: 2px solid white; */
  border: 1px solid white;
  height: 150px;
  content: "";
  right: 50%;
  top: -40%;
}
.par {
  color: white;
  font-family: "Roboto", sans-serif !important;
  margin-left: 25px;
}
.para {
  flex-direction: column;
  position: absolute;
  z-index: 99;
  font-family: "Roboto", sans-serif !important;
  width: 45%;
  color: #fff;
  margin-left: 10%;
}
.pen-para {
  flex-direction: column;
  position: absolute;
  z-index: 99;
  /* width: 65%; */
  color: #fff;
  margin-right: 10%;
  margin-left: 5%;
  font-family: "Roboto", sans-serif !important;
}
.paragraph {
  flex-direction: column;
  color: #fff;
  font-family: "Roboto", sans-serif !important;
  margin-left: 5%;
}
.batery-img {
  position: absolute;
  top: -63px;
  width: 41%;
  object-fit: contain;
  height: -3%;
  right: -20px;
}
.circle-batery {
  height: 15px;
  width: 40px;
  position: relative;
  border-radius: 50px;
  background: white;
  display: inline-block;
  top: 10px;
  margin-left: 15%;
}

.circle-batery:before {
  position: absolute;
  /* border-left: 2px solid white; */
  border: 1px solid white;
  height: 150px;
  content: "";
  right: 50%;
  top: -40%;
}

.circle-pen {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 50px;
  background: white;
  display: inline-block;
  top: 10px;
  margin-left: 5%;
}

.circle-pen:before {
  position: absolute;
  /* border-left: 2px solid white; */
  border: 1px solid white;
  height: 150px;
  content: "";
  right: 50%;
  top: -40%;
}
.smart-offer-cont {
  margin-top: 3%;
}
.section-heading {
  width: 40%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.no-cost {
  width: 70%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -5%;
  position: relative;
}

.update-form {
  position: relative;
  top: -2%;
}
.two-hunder-section {
  background: url("../img/bg-01.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -5%;
  z-index: 2;
  height: fit-content !important;
}
.two-hunder-img {
  margin-top: 15%;
  width: 45%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.camera-text-sections {
  margin-top: 10%;
  
}
.gaming-section {
  margin-top: 10%;
  height: fit-content;
  padding-bottom: 10%;
}
.pen-section {
  /* margin-top: 10%; */
  height: fit-content;
  padding-bottom: 1%;
}
.batery-section {
  /* margin-top: 10%; */
  height: fit-content;
  padding-bottom: 15%;
}
#mAIN_TEXT,
#SHOP_BTN {
  font-family: "Roboto", sans-serif !important;
}
.main-box {
  display: flex;
  background: #000;
  margin: 0px auto 10px auto;
  padding: 0;
  margin-top: 30%;
  width: 90%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 2px solid white;
}
.box:nth-child(1) {
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.box {
  height: 554px;
  padding: 15px;
  border-left: 1px solid white;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  list-style: none;
  cursor: pointer;
}
.off:hover {
  background-color: #fff;
  cursor: pointer;
}
/* table {
    width:94%;
} */
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
}
th {
  font-size: 25px;
  font-weight: 700;
}
td {
  font-size: 18px;
}
.detail {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  opacity: 0;
  padding: 20px 130px 20px 20px;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(5%);
  transform: translateX(5%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box.active {
  width: 80% !important;
  height: 554px !important;
}
.box.active .detail {
  opacity: 1;
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
  transform: none;
}
.box .off {
  writing-mode: vertical-rl;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 100%;
  transform: rotate(180deg);
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

.box.active .off {
  left: auto;
  right: 0;
  margin: 0;
  font-weight: 600;
  background: black !important;
  z-index: 2;
  height: 100%;
  width: 12%;
  top: 0;
  border-right: 1px solid white !important;
  background: linear-gradient(
    91deg,
    rgba(4, 4, 4, 1) 23%,
    rgba(68, 72, 73, 0.891281512605042) 56%
  ) !important;
}
h1 {
  font-size: 24px;
}
p {
  line-height: 23px;
  font-size: 20px;
}
.offer {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 28%;
}
.hdf-img {
  /* position: absolute; */
  transform: rotate(270deg);
  height: 50px;
  /* width: 333px; */
  overflow: hidden;
  right: 3%;
  z-index: 3;
  /* border: 1px solid red; */
  top: 35%;
  right: -75px;
}
.hdf-img img {
  height: 50px;
  width: 310px;
  object-fit: cover;
  transform: rotate(180deg);
}
.near-by-store-a{
  color:#ffcb08 !important;
  text-decoration: none;
}
.footer-ivory{
  font-size: 15px !important;
  display: flex;
  justify-content: flex-end;
}
.footer-happi{
  font-size: 15px !important;
  display: flex;
  justify-content: flex-start;
}
.near-by-store-b{
  color:#b6b4ac !important;
  text-decoration: none;
}
#SHOP_BTN :hover{
  cursor: pointer;
}
.off {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    99deg,
    rgba(4, 4, 4, 1) 23%,
    rgba(68, 72, 73, 0.891281512605042) 56%
  );
}
.first {
  display: flex;
}

.update-form {
  padding-bottom: 10%;
}
#happi-text {
  transform: translateX(-15px);
}
#price-text,
#offered_price_price {
  font-family: "Roboto", sans-serif !important;
}

#xyz {
  font-family: "Roboto", sans-serif !important;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 64%;
  width: 64%;
  object-fit: cover;
  margin-left: 18%;
  border-radius: 15px;

  background: url("assets\img\Nightography_bg.png");
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}
.svg-mobile,
.mobile-offers {
  display: none !important;
}

.night-vison-img {
  display: block !important;
  align-items: center;
  width: 40%;
  height: auto;
  
  padding-top: 2%;
  padding: 1% 0;

    position: fixed;
    z-index: 999;
    
    top:5% !important;
    right:2%;
   
}

.near-by-store{
  margin-top: -5%;
}

@media only screen and (max-width: 1080px) {

  .pen-img{
    margin-top: -30%;
  }
  .night-vison-img {
    margin-top: 10%;
    display: block !important;
    align-items: center;
    width:80%;
    height: auto;
    margin-left: 15% !important;
    padding: 3% 0;
  }
  .near-by-store{
    margin-top: -20%;
  }
  .near-by-store h1, .near-by-store h1 a{
    font-size: 20px !important;
  }
  .intro video {
    height: 90%;
    width: 90%;
    object-fit: cover;
    margin-left: 0 !important;
    border-radius: 15px;
  
    background: url("assets\img\Nightography_bg.png");
  }
  .mobile-offers {
    display: block !important;
    margin-top: 30%;
    padding: 5%;
    margin-top: 50%;
    margin-bottom: 20%;
  }
  .accordion{
    border: 1px solid #fff;
  }
  .svg-web,
  .offers {
    display: none;
  }
  .svg-mobile {
    display: block !important;
  }
  .booknow-form p {
    font-size: 20px;
  }
  .circle {
    height: 15px;
    width: 75px;
  }
  .circle:before {
    height: 100px;
  }
  .par {
    font-size: 12px;
  }
  .section-headings {
    margin-left: 10%;
  }
  .section-headings .power {
    font-size: 15px;
  }
  .pen-para p {
    margin-left: 10%;
    font-size: 12px;
    line-height: normal;
  }
  .offers {
    margin-top: 50%!important;
  }
  .circle-pen:before {
    height: 120px;
  }
  #price-text {
    font-family: "Roboto", sans-serif !important;
  }
  .night-vison-img {
    display: block !important;
    align-items: center;
    padding: 10%;
  }

  .input-ele label {
    font-size: 10px;
  }
  .intro video {
    height: 70%;
    width: 100%;
    object-fit: cover;
  }
  .hdfc {
    width: 30%;
  }
  th {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  td {
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion-collapse {
    background-color: #000 !important;
    color: #fff;
    border-color: #fff;
  }
  .accordion-header {
    border-top: 1px solid #ffffff;
  }
  .accordion-button:focus {
    border-color: #3c4041;
  }
  .table-hdfc {
    background-color: #000 !important;
  }
  .table-hdfc {
    color: #fff;
  }
  .table-offers {
    width: 100% !important;
    margin: 4%;
  }
  .accordion-button:not(.collapsed) {
    color: #fff !important;
  }
  .accordion-button:not(.collapsed)::after,
  .accordion-button::after {
    display: none;
  }
  .accordion-button,
  .accordion-header {
    color: #fff;
    border-color: #fff;
    background: linear-gradient(
      160deg,
      rgba(4, 4, 4, 1) 23%,
      rgba(68, 72, 73, 0.891281512605042) 56%
    ) !important;
  }
  
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #fb9013;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.loader {
  width: calc(100px - 24px);
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99999;
  animation: flippx 2s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fb9013;

  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background: #fff;
  width: 48px;
  background-image: url('./img/favicon.png');
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx {
  0%, 49% {
    transform: scaleX(1);
  }
  50%, 100% {
    transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
      